body {
    margin: 0;
    padding: 0;
    background-color: #b0abab;
}

p {
    font-size: 18px;
}

hr {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #333;
}

ul {
    list-style-type: none;
}

h1 {
   color: white;
   background-color: #39b54a;
   text-align: center;
   margin: 0;
   padding-bottom: 20px;
   padding-top: 20px;
}

h3 {
  padding-left: 16px;
  color: #111;
}

h2 {
  padding-left: 16px
}

.user-link {
    
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

.active {
    background-color: #39b54a;
}

.sidebar {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 10%;
  color: white;
  background-color: #b0abab;
  position: relative;
  float: left;
  height: 100%;
  overflow: auto;
}

.sidebar ul {
   
    list-style-type: none;
}

.active-list-item a {
  display: block;
  color: #111;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
}

.active-list-item {
    background-color: #b0abab;
    width: 100%;
}

.sidebar a:hover:not(.active) {
  background-color: #111;
  color: white;
}

main {
  width: 90%;
  height: 100%;
  float: right;
  background-color: #c9c9c9;
  color: #111;
}

.topics {
    list-style-type: none;
    padding-left: 16px;
}

.theme-link {
  display: block;
  color: #42424d;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.theme-link:hover:not(.active) {
  background-color: #aaa;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    background-color: #b0abab;
}

.footer-item {
    float: left;
}

.footer-item a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-item a:hover {
   background-color: #111;
   color: white; 
}

.footer-item-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



footer p {
   color: #111;
}

.comments {
    list-style-type: none;
    padding-left: 16px;
}

.user-comment a {
  display: block;
  color: #111;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.user-comment a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.link {
  font-size: 20px;
  color: #111;
  margin-left: 15px;
  padding: 10px 5px;
  text-decoration: none;
}

.link:hover {
  background-color: #aaa;
}

