body {
    margin: 0;
    padding: 0;
    background-color: #b0abab;
}

h1 {
   color: white;
   background-color: #39b54a;
   text-align: center;
   margin: 0;
   padding-bottom: 20px;
   padding-top: 20px;
}

h3 {
  padding-left: 16px;
  
}

h4 {
    color: #111;
    padding: 16px;
}

h2 {
  padding-left: 16px
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    background-color: #111;
}

.active {
    background-color: #39b54a;
}

/* Боковое навигационное меню */
.sidebar {
  
  margin: 0;
  padding: 0;
  width: 10%;
  color: white;
  background-color: #b0abab;
  position: relative;
  float: left;
  height: 100%;
  overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    text-align: center;
}

/* Сайдбар ссылки */
.active-list-item a {
  display: block;
  color: #111;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
}

/* Активная/текущая ссылка */
.active-list-item {
    background-color: #b0abab;
    width: 100%;
}

/* Ссылки при наведении мыши */
.sidebar a:hover:not(.active) {
  background-color: #111;
  color: white;
}

/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
main {
  width: 90%;
  height: 100%;
  float: right;
  background-color: #c9c9c9;
  color: #111;
}

.topics {
    list-style-type: none;
    padding-left: 16px;
}

.topic-list-item a {
  display: block;
  color: #111;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.topic-list-item a:hover:not(.active) {
  background-color: #111;
  color: white;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    background-color: #b0abab;
}

.footer-item {
    float: left;
}

.footer-item a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-item a:hover {
   background-color: #111;
   color: white; 
}

.footer-item-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer p {
   color: #111;
}