.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Боковое навигационное меню */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Сайдбар ссылки */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Активная/текущая ссылка */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Ссылки при наведении мыши */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    text-align: center;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.footer-item {
    float: left;
}

.footer-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-item a:hover {
   background-color: #111; 
}

.footer-item-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer div {
    text-align: center;
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
}